workflows/stage1_screening.json
{
  "name": "Stage 1 - Screen 250 to 50",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "// 250 Value Stock Candidates - Mix of US large/mid caps\nconst stocks = [\n  // Technology (40)\n  'AAPL', 'MSFT', 'GOOGL', 'META', 'NVDA', 'AVGO', 'ORCL', 'CRM', 'ADBE', 'AMD',\n  'CSCO', 'ACN', 'IBM', 'INTC', 'QCOM', 'TXN', 'NOW', 'INTU', 'AMAT', 'ADI',\n  'LRCX', 'MU', 'KLAC', 'SNPS', 'CDNS', 'MCHP', 'APH', 'MSI', 'FTNT', 'HPQ',\n  'HPE', 'KEYS', 'NTAP', 'WDC', 'STX', 'JNPR', 'FFIV', 'AKAM', 'CTSH', 'EPAM',\n  \n  // Healthcare (35)\n  'UNH', 'JNJ', 'LLY', 'PFE', 'ABBV', 'MRK', 'TMO', 'ABT', 'DHR', 'BMY',\n  'AMGN', 'GILD', 'CVS', 'ELV', 'CI', 'SYK', 'MDT', 'ISRG', 'VRTX', 'REGN',\n  'BSX', 'ZTS', 'BDX', 'HUM', 'MCK', 'CAH', 'DXCM', 'IDXX', 'IQV', 'EW',\n  'BIIB', 'MTD', 'WAT', 'HOLX', 'ALGN',\n  \n  // Financials (40)\n  'JPM', 'V', 'MA', 'BAC', 'WFC', 'GS', 'MS', 'BLK', 'SPGI', 'AXP',\n  'C', 'SCHW', 'CB', 'MMC', 'PGR', 'AON', 'ICE', 'CME', 'USB', 'PNC',\n  'TFC', 'AIG', 'MET', 'PRU', 'AFL', 'ALL', 'TRV', 'AMP', 'MSCI', 'MCO',\n  'FIS', 'COF', 'BK', 'STT', 'FITB', 'MTB', 'HBAN', 'CFG', 'RF', 'KEY',\n  \n  // Consumer Discretionary (30)\n  'AMZN', 'TSLA', 'HD', 'MCD', 'NKE', 'LOW', 'SBUX', 'TJX', 'BKNG', 'CMG',\n  'ORLY', 'AZO', 'MAR', 'HLT', 'ROST', 'YUM', 'DHI', 'LEN', 'GM', 'F',\n  'EBAY', 'APTV', 'GPC', 'BBY', 'PHM', 'NVR', 'POOL', 'DRI', 'ULTA', 'DPZ',\n  \n  // Consumer Staples (25)\n  'PG', 'KO', 'PEP', 'COST', 'WMT', 'PM', 'MO', 'MDLZ', 'CL', 'KMB',\n  'GIS', 'K', 'HSY', 'KHC', 'STZ', 'SYY', 'KR', 'WBA', 'EL', 'CHD',\n  'MKC', 'CLX', 'HRL', 'SJM', 'CPB',\n  \n  // Energy (20)\n  'XOM', 'CVX', 'COP', 'EOG', 'SLB', 'MPC', 'PSX', 'VLO', 'PXD', 'OXY',\n  'WMB', 'KMI', 'HAL', 'DVN', 'HES', 'FANG', 'BKR', 'TRGP', 'OKE', 'CTRA',\n  \n  // Industrials (35)\n  'CAT', 'GE', 'HON', 'UNP', 'UPS', 'RTX', 'BA', 'DE', 'LMT', 'MMM',\n  'ETN', 'ITW', 'EMR', 'PH', 'GD', 'NOC', 'WM', 'RSG', 'CSX', 'NSC',\n  'JCI', 'PCAR', 'CMI', 'CARR', 'OTIS', 'AME', 'ROK', 'FAST', 'PWR', 'VRSK',\n  'IR', 'XYL', 'DOV', 'FTV', 'GWW',\n  \n  // Utilities (15)\n  'NEE', 'DUK', 'SO', 'D', 'AEP', 'SRE', 'EXC', 'XEL', 'PEG', 'ED',\n  'WEC', 'ES', 'AWK', 'DTE', 'EIX',\n  \n  // Materials (10)\n  'LIN', 'APD', 'SHW', 'ECL', 'FCX', 'NEM', 'NUE', 'VMC', 'MLM', 'DOW'\n];\n\nconsole.log(`Total input stocks: ${stocks.length}`);\nreturn stocks.map(s => ({ json: { symbol: s } }));"
      },
      "id": "code-list",
      "name": "250 Stocks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "url": "=https://financialmodelingprep.com/stable/profile?symbol={{ $json.symbol }}&apikey=4x1WuP5kwdOeGA0lejzbQ3gAq2Ytcmpt",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 10,
              "batchInterval": 1000
            }
          },
          "timeout": 10000
        }
      },
      "id": "http-1",
      "name": "Get Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  const p = Array.isArray(data) ? data[0] : data;\n  \n  if (!p || !p.symbol || p.error) continue;\n  \n  const marketCap = p.marketCap || 0;\n  const price = p.price || 0;\n  const pe = p.pe || 0;\n  const beta = p.beta || 1;\n  const lastDiv = p.lastDividend || 0;\n  const divYield = price > 0 ? lastDiv / price : 0;\n  \n  // === VALUE SCREENING CRITERIA ===\n  // 1. Market cap > $10B (large cap focus)\n  if (marketCap < 10e9) continue;\n  \n  // 2. P/E between 5-30 (reasonable valuation)\n  if (pe <= 5 || pe > 30) continue;\n  \n  // 3. Not too volatile (beta < 1.5)\n  if (beta > 1.5) continue;\n  \n  // 4. Price > $10 (no penny stocks)\n  if (price < 10) continue;\n  \n  // Format market cap\n  let mcDisplay = '$0';\n  if (marketCap >= 1e12) mcDisplay = '$' + (marketCap/1e12).toFixed(1) + 'T';\n  else if (marketCap >= 1e9) mcDisplay = '$' + (marketCap/1e9).toFixed(0) + 'B';\n  \n  results.push({\n    json: {\n      symbol: p.symbol,\n      company_name: p.companyName || '',\n      sector: p.sector || '',\n      industry: p.industry || '',\n      exchange: p.exchange || '',\n      price: Math.round(price * 100) / 100,\n      market_cap: marketCap,\n      market_cap_display: mcDisplay,\n      pe_ratio: Math.round(pe * 100) / 100,\n      beta: Math.round(beta * 100) / 100,\n      dividend_yield: Math.round(divYield * 10000) / 10000,\n      dividend_yield_pct: (divYield * 100).toFixed(2) + '%',\n      volume: p.volume || 0,\n      avg_volume: p.averageVolume || 0,\n      year_high: p.range ? parseFloat(p.range.split('-')[1]) : 0,\n      year_low: p.range ? parseFloat(p.range.split('-')[0]) : 0,\n      change_pct: Math.round((p.changePercentage || 0) * 100) / 100,\n      is_profitable: pe > 0,\n      is_dividend_paying: lastDiv > 0,\n      is_penny_stock: false,\n      last_updated: new Date().toISOString().split('T')[0]\n    }\n  });\n}\n\n// Sort by market cap descending and limit to 50\nresults.sort((a, b) => b.json.market_cap - a.json.market_cap);\nconst top50 = results.slice(0, 50);\n\nconsole.log(`Filtered from ${items.length} to ${top50.length} value stocks`);\nreturn top50;"
      },
      "id": "code-filter",
      "name": "Filter to Top 50",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1jMRAtD1tUQSYYD1gLWoHNw1IoBbUP-SPpBbStj01be0"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Stage1_Screened"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "sheets-1",
      "name": "Write to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [880, 0]
    }
  ],
  "connections": {
    "Start": {
      "main": [[{ "node": "250 Stocks", "type": "main", "index": 0 }]]
    },
    "250 Stocks": {
      "main": [[{ "node": "Get Profile", "type": "main", "index": 0 }]]
    },
    "Get Profile": {
      "main": [[{ "node": "Filter to Top 50", "type": "main", "index": 0 }]]
    },
    "Filter to Top 50": {
      "main": [[{ "node": "Write to Sheets", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
