workflows/stage2_complete.json
{
  "name": "Stage 2 - Complete Scoring",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1jMRAtD1tUQSYYD1gLWoHNw1IoBbUP-SPpBbStj01be0"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Stage1_Screened"
        },
        "options": {}
      },
      "id": "sheets-read",
      "name": "Read Stage 1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const s = item.json;\n  if (!s.symbol) continue;\n  \n  const pe = parseFloat(s.pe_ratio) || 25;\n  const beta = parseFloat(s.beta) || 1;\n  const divYield = parseFloat(s.dividend_yield) || 0;\n  const marketCap = parseFloat(s.market_cap) || 0;\n  const price = parseFloat(s.price) || 0;\n  const yearHigh = parseFloat(s.year_high) || price;\n  const yearLow = parseFloat(s.year_low) || price;\n  \n  // ===== VALUATION SCORE (0-30) =====\n  // Lower P/E is better (value)\n  let score_valuation = 0;\n  if (pe > 0 && pe < 100) {\n    score_valuation = Math.max(0, Math.min(30, 35 - pe));\n  }\n  \n  // ===== QUALITY SCORE (0-25) =====\n  // Based on stability (lower beta) and profitability\n  let score_quality = 15; // Base score\n  if (beta < 0.8) score_quality += 10;\n  else if (beta < 1.0) score_quality += 7;\n  else if (beta < 1.2) score_quality += 4;\n  else if (beta > 1.5) score_quality -= 5;\n  if (pe < 0) score_quality -= 10; // Unprofitable\n  score_quality = Math.max(0, Math.min(25, score_quality));\n  \n  // ===== GROWTH SCORE (0-20) =====\n  // Based on price position in 52-week range\n  let score_growth = 10; // Base\n  const range = yearHigh - yearLow;\n  if (range > 0) {\n    const position = (price - yearLow) / range;\n    if (position > 0.8) score_growth = 18; // Near highs = momentum\n    else if (position > 0.6) score_growth = 14;\n    else if (position < 0.3) score_growth = 6; // Near lows\n  }\n  score_growth = Math.max(0, Math.min(20, score_growth));\n  \n  // ===== DIVIDEND SCORE (0-15) =====\n  let score_dividend = Math.min(15, divYield * 350);\n  \n  // ===== MOAT SCORE (0-10) =====\n  // Based on market cap (larger = more established)\n  let score_moat = 5;\n  if (marketCap > 500e9) score_moat = 10;\n  else if (marketCap > 100e9) score_moat = 8;\n  else if (marketCap > 50e9) score_moat = 7;\n  else if (marketCap < 10e9) score_moat = 4;\n  \n  // ===== TOTAL SCORE =====\n  const total_score = Math.round(\n    score_valuation + score_quality + score_growth + score_dividend + score_moat\n  );\n  \n  // Classification\n  let score_category = 'Poor';\n  if (total_score >= 75) score_category = 'Excellent';\n  else if (total_score >= 65) score_category = 'Good';\n  else if (total_score >= 55) score_category = 'Fair';\n  else if (total_score >= 45) score_category = 'Average';\n  \n  results.push({\n    json: {\n      symbol: s.symbol,\n      company_name: s.company_name,\n      sector: s.sector,\n      industry: s.industry,\n      exchange: s.exchange,\n      price: price,\n      market_cap: marketCap,\n      market_cap_display: s.market_cap_display,\n      pe_ratio: pe,\n      beta: beta,\n      dividend_yield: divYield,\n      dividend_yield_pct: s.dividend_yield_pct,\n      score_valuation: Math.round(score_valuation),\n      score_quality: Math.round(score_quality),\n      score_growth: Math.round(score_growth),\n      score_dividend: Math.round(score_dividend),\n      score_moat: Math.round(score_moat),\n      total_score: total_score,\n      score_category: score_category,\n      rank: 0,\n      is_profitable: s.is_profitable,\n      is_dividend_paying: s.is_dividend_paying,\n      is_penny_stock: s.is_penny_stock,\n      year_high: yearHigh,\n      year_low: yearLow,\n      last_updated: new Date().toISOString().split('T')[0]\n    }\n  });\n}\n\n// Sort by total score descending and add rank\nresults.sort((a, b) => b.json.total_score - a.json.total_score);\nresults.forEach((r, i) => r.json.rank = i + 1);\n\nreturn results;"
      },
      "id": "code-score",
      "name": "Calculate Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1jMRAtD1tUQSYYD1gLWoHNw1IoBbUP-SPpBbStj01be0"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Stage2_Scored"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "sheets-write",
      "name": "Write Scores",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [660, 0]
    }
  ],
  "connections": {
    "Start": {
      "main": [[{ "node": "Read Stage 1", "type": "main", "index": 0 }]]
    },
    "Read Stage 1": {
      "main": [[{ "node": "Calculate Scores", "type": "main", "index": 0 }]]
    },
    "Calculate Scores": {
      "main": [[{ "node": "Write Scores", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
