workflows/stage2_noloop.json
{
  "name": "Stage 2 - Scoring",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1jMRAtD1tUQSYYD1gLWoHNw1IoBbUP-SPpBbStj01be0"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Stage1_Screened"
        },
        "options": {}
      },
      "id": "sheets-read",
      "name": "Read Stage 1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [220, 0]
    },
    {
      "parameters": {
        "url": "=https://financialmodelingprep.com/stable/ratios-ttm?symbol={{ $json.symbol }}&apikey=4x1WuP5kwdOeGA0lejzbQ3gAq2Ytcmpt",
        "options": {}
      },
      "id": "http-ratios",
      "name": "Get Ratios",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst stage1Items = $('Read Stage 1').all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const ratiosData = items[i].json;\n  const stage1 = stage1Items[i]?.json || {};\n  const ratios = Array.isArray(ratiosData) ? ratiosData[0] : ratiosData;\n  \n  if (!ratios || !stage1.symbol) continue;\n  \n  // Calculate scores\n  const pe = ratios.peRatioTTM || 20;\n  const roe = ratios.returnOnEquityTTM || 0;\n  const debtEquity = ratios.debtEquityRatioTTM || 1;\n  const divYield = ratios.dividendYieldTTM || 0;\n  \n  // Valuation Score (0-30)\n  const valScore = Math.max(0, Math.min(30, 30 - (pe - 5) * 1.5));\n  \n  // Quality Score (0-25)\n  const qualScore = Math.min(25, Math.abs(roe) * 100);\n  \n  // Dividend Score (0-15)\n  const divScore = Math.min(15, divYield * 300);\n  \n  // Total Score\n  const totalScore = Math.round(valScore + qualScore + divScore);\n  \n  // Classification\n  let classification = 'Average';\n  if (totalScore >= 60) classification = 'Excellent';\n  else if (totalScore >= 50) classification = 'Good';\n  else if (totalScore >= 40) classification = 'Fair';\n  \n  results.push({\n    json: {\n      rank: i + 1,\n      symbol: stage1.symbol,\n      companyName: stage1.companyName,\n      sector: stage1.sector,\n      totalScore: totalScore,\n      classification: classification,\n      valuationScore: Math.round(valScore),\n      qualityScore: Math.round(qualScore),\n      dividendScore: Math.round(divScore),\n      peRatio: Math.round(pe * 100) / 100,\n      roe: Math.round(roe * 10000) / 100,\n      debtEquity: Math.round(debtEquity * 100) / 100,\n      dividendYield: Math.round(divYield * 10000) / 100,\n      scoringDate: new Date().toISOString().split('T')[0]\n    }\n  });\n}\n\n// Sort by score\nresults.sort((a, b) => b.json.totalScore - a.json.totalScore);\nresults.forEach((r, i) => r.json.rank = i + 1);\n\nreturn results;"
      },
      "id": "code-score",
      "name": "Calculate Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1jMRAtD1tUQSYYD1gLWoHNw1IoBbUP-SPpBbStj01be0"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Stage2_Scored"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "sheets-write",
      "name": "Write Scores",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [880, 0]
    }
  ],
  "connections": {
    "Start": {
      "main": [[{ "node": "Read Stage 1", "type": "main", "index": 0 }]]
    },
    "Read Stage 1": {
      "main": [[{ "node": "Get Ratios", "type": "main", "index": 0 }]]
    },
    "Get Ratios": {
      "main": [[{ "node": "Calculate Scores", "type": "main", "index": 0 }]]
    },
    "Calculate Scores": {
      "main": [[{ "node": "Write Scores", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
