workflows/stage1_noloop.json
{
  "name": "Stage 1 - No Loop",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { symbol: 'AAPL' } },\n  { json: { symbol: 'MSFT' } },\n  { json: { symbol: 'JNJ' } },\n  { json: { symbol: 'PG' } },\n  { json: { symbol: 'KO' } }\n];"
      },
      "id": "code-list",
      "name": "Stock List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "url": "=https://financialmodelingprep.com/stable/profile?symbol={{ $json.symbol }}&apikey=4x1WuP5kwdOeGA0lejzbQ3gAq2Ytcmpt",
        "options": {}
      },
      "id": "http-1",
      "name": "Get Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  const profile = Array.isArray(data) ? data[0] : data;\n  \n  if (profile && profile.symbol) {\n    results.push({\n      json: {\n        symbol: profile.symbol,\n        companyName: profile.companyName,\n        sector: profile.sector,\n        industry: profile.industry,\n        marketCap: profile.marketCap,\n        price: profile.price,\n        screeningDate: new Date().toISOString().split('T')[0]\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "code-format",
      "name": "Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1jMRAtD1tUQSYYD1gLWoHNw1IoBbUP-SPpBbStj01be0"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Stage1_Screened"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "sheets-1",
      "name": "Write to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [880, 0]
    }
  ],
  "connections": {
    "Start": {
      "main": [[{ "node": "Stock List", "type": "main", "index": 0 }]]
    },
    "Stock List": {
      "main": [[{ "node": "Get Profile", "type": "main", "index": 0 }]]
    },
    "Get Profile": {
      "main": [[{ "node": "Format", "type": "main", "index": 0 }]]
    },
    "Format": {
      "main": [[{ "node": "Write to Sheets", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
