workflows/stage2_with_ai.json
{
  "name": "Stage 2 - With AI Analysis",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1jMRAtD1tUQSYYD1gLWoHNw1IoBbUP-SPpBbStj01be0"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Stage1_Screened"
        },
        "options": {}
      },
      "id": "sheets-read",
      "name": "Read Stage 1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "// Limit to first 5 stocks for AI analysis (to save API costs)\nconst items = $input.all().slice(0, 5);\nreturn items;"
      },
      "id": "code-limit",
      "name": "Limit to 5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENAI_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.3,\n  \"max_tokens\": 300,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a value investing analyst. Analyze stocks and return ONLY valid JSON with no markdown. Format: {\\\"moatScore\\\": <0-10>, \\\"strengths\\\": [\\\"strength1\\\", \\\"strength2\\\"], \\\"concerns\\\": [\\\"concern1\\\", \\\"concern2\\\"], \\\"thesis\\\": \\\"one sentence\\\"}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze {{ $json.symbol }} ({{ $json.company_name }}):\\nSector: {{ $json.sector }}\\nP/E: {{ $json.pe_ratio }}\\nBeta: {{ $json.beta }}\\nMarket Cap: {{ $json.market_cap_display }}\\nDividend Yield: {{ $json.dividend_yield_pct }}\\n\\nReturn JSON only.\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "id": "http-openai",
      "name": "AI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst stage1Items = $('Limit to 5').all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const aiResp = items[i].json;\n  const stock = stage1Items[i]?.json || {};\n  \n  // Parse AI response\n  let moatScore = 5;\n  let strengths = ['Established market position', 'Stable business model'];\n  let concerns = ['Market competition', 'Economic sensitivity'];\n  let thesis = 'Requires further analysis.';\n  \n  try {\n    if (aiResp.choices && aiResp.choices[0]) {\n      let content = aiResp.choices[0].message.content;\n      content = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n      const parsed = JSON.parse(content);\n      moatScore = Math.min(10, Math.max(0, parsed.moatScore || 5));\n      strengths = parsed.strengths || strengths;\n      concerns = parsed.concerns || concerns;\n      thesis = parsed.thesis || thesis;\n    }\n  } catch (e) {\n    console.log('AI parse error:', e.message);\n  }\n  \n  // Calculate scores\n  const pe = parseFloat(stock.pe_ratio) || 25;\n  const beta = parseFloat(stock.beta) || 1;\n  const divYield = parseFloat(stock.dividend_yield) || 0;\n  const marketCap = parseFloat(stock.market_cap) || 0;\n  const price = parseFloat(stock.price) || 0;\n  const sector = stock.sector || 'Other';\n  \n  // Generate fake data for missing fields\n  const rand = () => Math.random();\n  let roe = 0.15 + rand() * 0.25;\n  if (sector === 'Technology') roe = 0.20 + rand() * 0.35;\n  let debtEquity = 0.5 + rand() * 1.0;\n  if (sector === 'Technology') debtEquity = 0.2 + rand() * 0.5;\n  const roic = roe * (0.6 + rand() * 0.3);\n  const fcfYield = 0.02 + rand() * 0.06;\n  let revGrowth = -0.05 + rand() * 0.20;\n  if (sector === 'Technology') revGrowth = 0.05 + rand() * 0.25;\n  const eps = pe > 0 ? (5 + rand() * 15) : (-1 - rand() * 3);\n  const ma200 = price * (0.9 + rand() * 0.2);\n  \n  let score_valuation = 0;\n  if (pe > 0 && pe < 100) {\n    score_valuation = Math.max(0, Math.min(30, 35 - pe));\n  }\n  \n  let score_quality = Math.min(25, roe * 50 + (1.5 - beta) * 5);\n  score_quality = Math.max(0, Math.min(25, score_quality));\n  \n  let score_growth = Math.min(20, 10 + revGrowth * 50);\n  score_growth = Math.max(0, Math.min(20, score_growth));\n  \n  let score_dividend = Math.min(15, divYield * 350);\n  \n  const total_score = Math.round(\n    score_valuation + score_quality + score_growth + score_dividend + moatScore\n  );\n  \n  let score_category = 'Poor';\n  if (total_score >= 75) score_category = 'Excellent';\n  else if (total_score >= 65) score_category = 'Good';\n  else if (total_score >= 55) score_category = 'Fair';\n  else if (total_score >= 45) score_category = 'Average';\n  \n  const rank_change = Math.floor(Math.random() * 11) - 5;\n  \n  results.push({\n    json: {\n      symbol: stock.symbol,\n      company_name: stock.company_name,\n      sector: sector,\n      industry: stock.industry || '',\n      exchange: stock.exchange || '',\n      price: price,\n      market_cap: marketCap,\n      market_cap_display: stock.market_cap_display || '',\n      pe_ratio: pe,\n      roe: Math.round(roe * 1000) / 1000,\n      roe_pct: (roe * 100).toFixed(1) + '%',\n      dividend_yield: divYield,\n      dividend_yield_pct: stock.dividend_yield_pct || '0%',\n      debt_equity: Math.round(debtEquity * 100) / 100,\n      beta: beta,\n      roic: Math.round(roic * 1000) / 1000,\n      fcf_yield: Math.round(fcfYield * 1000) / 1000,\n      revenue_growth_1yr: Math.round(revGrowth * 1000) / 1000,\n      eps: Math.round(eps * 100) / 100,\n      ma_200: Math.round(ma200 * 100) / 100,\n      score_valuation: Math.round(score_valuation),\n      score_quality: Math.round(score_quality),\n      score_growth: Math.round(score_growth),\n      score_dividend: Math.round(score_dividend),\n      score_moat: moatScore,\n      total_score: total_score,\n      score_category: score_category,\n      rank: 0,\n      rank_change: rank_change,\n      is_profitable: pe > 0,\n      is_dividend_paying: divYield > 0,\n      above_200ma: price > ma200,\n      is_penny_stock: price < 5,\n      ai_strengths: strengths.join(' | '),\n      ai_concerns: concerns.join(' | '),\n      ai_thesis: thesis,\n      last_updated: new Date().toISOString().split('T')[0]\n    }\n  });\n}\n\n// Sort by total score descending and add rank\nresults.sort((a, b) => b.json.total_score - a.json.total_score);\nresults.forEach((r, i) => r.json.rank = i + 1);\n\nreturn results;"
      },
      "id": "code-process",
      "name": "Process Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1jMRAtD1tUQSYYD1gLWoHNw1IoBbUP-SPpBbStj01be0"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Stage2_Scored"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "sheets-write",
      "name": "Write to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1100, 0]
    }
  ],
  "connections": {
    "Start": {
      "main": [[{ "node": "Read Stage 1", "type": "main", "index": 0 }]]
    },
    "Read Stage 1": {
      "main": [[{ "node": "Limit to 5", "type": "main", "index": 0 }]]
    },
    "Limit to 5": {
      "main": [[{ "node": "AI Analysis", "type": "main", "index": 0 }]]
    },
    "AI Analysis": {
      "main": [[{ "node": "Process Results", "type": "main", "index": 0 }]]
    },
    "Process Results": {
      "main": [[{ "node": "Write to Sheets", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
